.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.addMonsterFieldset {
  margin: 1em;
}

.addMonsterForm label {
  margin-right: 1em;
}

.addMonsterForm input {
  margin-left: .5em;
}

.monsterContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  margin: 0 -1em -1em 0
}

.monsterBox {
  border: 1px solid black;
  padding: .75em .5em;
  margin: 0 1em 1em 0;
  text-align: center;
}

.healthBox {
  font-size: 2em;
  margin: .25em 0;
}

.monsterHealthForm {
  display: flex;
  flex-direction: column;
}

.removeMonsterButton {
  margin-top: 1em;
}
